@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../assets/fonts/JetBrainsMono-Regular.ttf")
}

#GRAPHS {
  width: 800px;
  height: calc(600px - 28px);
  top:0;
  position: absolute;
}

#return {
  top: 50px;
  left: 50px;
  z-index: 99;
}

#go-home {
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
}

#grid {
  border: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: -300px;
  left: -200px;
}

#graph-paper {
  width: 800px;
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
}
