@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../assets/fonts/JetBrainsMono-Regular.ttf")
}

#GRAPHS {
  width: 800px;
  height: calc(600px - 28px);
  top:0;
  position: absolute;
}


#return {
  top: 50px;
  left: 50px;
  z-index: 99;
}

#go-home {
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
}

/* #controls-button {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  transition: 0.2s;
  height: 40px;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  position:absolute;
  padding: 10px;
  box-sizing: border-box;
}

#transform-box {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.controls-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
} */

#grid {
  border: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
