@font-face {
    font-family: "Microgramma D Extended Bold";
    src: url("../../../assets/fonts/Microgramma D Extended Bold.otf")
}

#background {
    background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
    width: 100vw;
    height: 100vh;
    margin:0;
}

/* "wants to be desmos so bad" text */
#subtitle {
    width: 100%;
    text-align: center;
    margin-top:0px;
    margin-bottom:40.5px;
    font-family: "Jetbrains Mono";
    user-select: none;
    position: relative;
}


/* CSS rules for the Home div and Welcome div included in this file */

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#welcome {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 130.5px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#title {
    margin-top: 30px;
    margin-bottom: 30px;
}

#root {
    width: 100%;
    height: 600px;
}