@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../assets/fonts/JetBrainsMono-Regular.ttf")
}

#LOGIN {
  width: calc(100% - 100px);
  top: 50%;
  left: 50%;
  height: calc(100% - 100px);
  color: black;
  display: inline-block;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#login-form {
  width: calc(100% - 375px);
  height: calc(100% - 250px);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  border: 1.5px solid black;
}

.inputs {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  transition: 0.2s;
  height: 40px;
  width: calc(100% - 40px);
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  padding: 10px;
  box-sizing: border-box;
}

.inputs:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* #login-button {

} */
