@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../assets/fonts/JetBrainsMono-Regular.ttf")
}

#SIGNUP {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#signup-form {
  width: calc(100% - 375px);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  border: 1.5px solid black;
}

#error-message {
  width: calc(100% - 375px);
  font-family: 'JetBrains Mono';
  color: #FF4646;
  display:inline-block;
}

